@model Appointments.Api.Areas.Admin.Models.UserAndRolesDTO
@using Appointments.Api.Utils
@{
    ViewBag.Title = "Edit User Role";
}
<h2>EditRoles</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @Html.ActionLink("Back", "Edit", new { UserName = Model.UserName }, new { @class = "btn btn-default" })
        <input type="submit" value="Add Role" class="btn btn-default" />
        @Html.DropDownList("AddRole")
    </div>
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Existing Roles</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model.colUserRoleDTO) {
            <tr>
                <td>@Html.DisplayFor(model => item.RoleName)</td>
                <td>
                    @if (!((Model.UserName.ToLower() == User.Identity.Name.ToLower()) && item.RoleName == AppRoles.Admin) && item.RoleName != "No Roles Found") {
                        @Html.ActionLink("Delete", "DeleteRole", new { userName = item.UserName, roleName = item.RoleName }, new { onclick = "return confirm('Are you sure you wish to delete this role?');" })
                    }
                </td>
            </tr>
        }
    </table>
}